.App
  text-align: center

.App-logo
  animation: App-logo-spin infinite 20s linear
  height: 80px
  position: relative

.App-header
  background-color: #242424
  height: 60px
  padding: 20px 0px 20px 20px
  color: white
  display: flex
  justify-content: space-between
  align-items: center
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5)
  position: relative
  z-index: 9
  h1
    font-size: 1.7em
    text-transform: uppercase
    display: flex
    align-items: center
    color: #F5F2EB
    position: relative
    border: 2px solid #E7552F
    padding-right: 5px
    border-radius: 3px
    box-shadow: 0 5px 15px 0 rgba(0,0,0,1)
    span
      color: #242424
      display: inline-block
      width: 1.3em
      line-height: 1.3em
      font-size: 0.7em
      background-color: #E7552F
      margin: 3px
      border-radius: 2px

@keyframes App-logo-spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
